body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(5, 85, 85);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav img {
  height: 80%;
}
main {
  min-height: 70vh;
  padding: 10px;
}
footer {
  height: 20vh;
  background-color: rgb(5, 85, 85);
}
a {
  text-decoration: none;
  margin: 0 5px;
}
.active {
  color: red;
  font-size: 1.3rem;
  border: 1px solid red;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(5, 85, 85);
  padding: 10px;
}
label {
  margin: 5px;
}
.error {
  color: red;
}
.profile-picture {
  width: 40%;
}
